*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-clr: #ffffff;
	--secondary-clr: #5a5a5a;
	--accent-clr: #0f218f;
	--background-clr: #f9f9f9;
}

body {
	background: var(--background-clr);
	width: 100vw;
	height: 100vh;
}

svg {
	width: min(30px, 100%);
}

a {
	text-decoration: none;
}

a.active {
	
	color: var(--accent-clr);
	fill: var(--accent-clr);
}

a:not(.active) {
	color: var(--secondary-clr);
}

p {
	color: var(--secondary-clr);
}

wrapper {
	max-width: max-content;
	max-height: 10%;

}

ul {
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #fffefe;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #111;
}


.side-panel {
	display: inline-block;
	padding-left: 40px;
	padding-right: 40px;
}